.ads{
    width: 1250px;
}

.bg-color {
  background-color: #e2ab46;
  border-radius: 6px;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

.nav-link {
  font-family: 'Poppins Medium', sans-serif;
  font-size: 14px;
}
